body {
  background: #0b0f0b;
  color: #00ff66;
  font-family: monospace;
  padding: 20px;
}

h1 {
  color: #7CFC98;
}

button {
  background: black;
  color: #00ff66;
  border: 1px solid #00ff66;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background: #00ff66;
  color: black;
}

.panel {
  border: 1px solid #00ff66;
  padding: 10px;
  margin-top: 15px;
}

pre {
  white-space: pre-wrap;
}
#debug-output {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-family: monospace;
}

